body {
	font-family: "Apercu",serif;
	margin-left:15%;
	margin-right:15%;
	color:black;
}


.border {
	border:2px solid black;
}

.border-r {
	border:2px solid red;
}

p {
	font-family: "Apercu Mono", Mono;
}

a {
	color: black;
	font-weight: bold;

}

a:hover {
	text-decoration: none;
}
a:hover, .navbar-light .navbar-nav .nav-link:hover {
	
	color:#704a9a;
}
.navbar-light .navbar-nav .nav-link {
	color:black;
}
.navbar a {
		font-size: 1.1rem;
}
.selected, .selected:hover  {
	text-decoration: line-through;
}

.header {
	background-color:#704a9a;
	color:white;
	padding: 2%;
}
.header a:hover {
	color:white;
}	

.tile {
	 text-align: center;
}
.tile-img {
	width:250px;
	
}
.tile-text {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	max-width:250px;
}
.tile-title {
	margin-top: 5px;
	margin-bottom: 2px;

}

.tile-subtitle {
	font-size:0.9em;
	color:#5A5A5A;
}

.main-heading {
	font-size: 1.4em;
	font-weight: bold;
	font-family: "Apercu",serif !important ;
}


/*
.header p {
	font-size: 1em
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.logo {
	width:15%;
}

.row {
	margin-top: 25px;
}
x


.social-media-icon {
	width:20px;
	margin-right: 10px;
	height: 20px;
}*/