body {
	font-family: "Apercu",serif;
	margin-left:20%;
	margin-right:20%;
	color:black;
}


.border {
	border:2px solid black;
}

.border-r {
	border:2px solid red;
}

p {
	font-family: "Apercu Mono", Mono;
}

a {
	color: black;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}
a:hover, .navbar-light .navbar-nav .nav-link:hover {
	
	color:#704a9a;
}
.navbar-light .navbar-nav .nav-link {
	color:black;
}
.selected, .selected:hover  {
	text-decoration: line-through;
}

.header {
	background-color:#704a9a;
	color:white;
	padding: 2%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.header a:hover {
	color:white;
}	

/*.header a {
	text-decoration: underline;
}


.clear-right-padding {
	padding-right:0 !important;
}

.thumbnail-title {
	margin-bottom: 5px;
}

.header p {
	font-size: 1em
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.main {
	margin-top:50px;
	padding:0;
}
.logo {
	width:15%;
}

.row {
	margin-top: 25px;
}
x
.thumbnail {
	width:220px;
	margin-bottom: 10px;
}

.social-media-icon {
	width:20px;
	margin-right: 10px;
	height: 20px;
}*/